*{
margin:0;
padding:0;
--hue:#161616;
--hue-grey:#e6e6e6;
--bg-hue:#fff;
--tap-color:rgba(255,255,255,0.5);
}

.hidden{
position:fixed;
visibility:hidden;
}
body{
background-color:var(--bg-hue);
color:var(--hue);
}

#top{
width:100vw;
height:3em;
display:flex;
align-items:center;
/*border-style:solid;
border-width:0 0 1px 0;
border-color:var(--hue-grey);*/
}
#title{
font-size:1.2em;
font-weight:bold;
margin:10px;
}
#body{

}
.radioOption{
width:100vw;
height:3.5em;
text-align:left;
font-size:1em;
color:var(--hue);
border-width:0 0 1px 0;
border-color:var(--hue-grey);
-webkit-tap-highlight-color:var(--tap-color);
}
.radioName{
margin-left:10px;
}
.playIcon{
width:1.5em;
height:1.5em;
margin-left:10px;
display:flex;
justify-content:center;
align-items:center;
color:var(--hue); !important
}
.radioOption.playing .icon-play{
display:none;
}
.radioOption.playing .icon-pause{
display:block;
}
.radioOption .icon-pause{
display:none;
}

#bottom{
width:100vw;
height:3.7em;
position:fixed;
bottom:0;
box-sizing:border-box;
display:flex;
align-items:center;
border-style:solid;
border-width:1px 0 0 0;
border-color:var(--hue);
background-color:var(--bg-hue);
}
button{
background-color:transparent;
color:var(--hue);
display:flex;
align-items:center;
-webkit-tap-highlight-color:var(--tap-color);
}
#playbtn{
width:3.5em;
height:3.5em;
border-radius:50%;
border-style:none;
margin:20px;
}
#error{
font-weight:800;
color:#b20f03;
margin-left:2em;
}
@media (prefers-color-scheme: dark){
*{
--hue:#e9e9e9;
--hue-grey:#191919;
--bg-hue:#000;
--tap-color:rgba(0,0,0,0.5);
}
}
